
<style>
@import url('https://fonts.googleapis.com/css2?family=Instrument+Inter:ital@0;1&display=swap');
</style>
body {
  margin: 0;
  font-family: 'Inter' ,
    'Ubuntu', 'Nunito',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
